

<th:block th:fragment="header_content(title)"><!--/*-->
<!--*/--><meta charset="utf-8"/>
    <title th:text="${title} + ' - Sagiri'">Sagiri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="biezhi" name="author"/>
    <meta content="${_csrf_token}" name="csrf_token"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="/admin/images/favicon.png"/>
    #if(allow_cloud_CDN() == "true")
    <th:block th:if="${app.allowCdn}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/plugins/vue-loading/vue-loading.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/css/style.min.css?v={version}'(cdnUrl=${app.cdnUrl},version=${app.version})}" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.0/respond.min.js"></script>
    <![endif]-->
    </th:block>
    #else
    <th:block th:unless="${app.allowCdn}">
    <link th:href="@{'{cdnUrl}/plugins/bootstrap/3.3.7/css/bootstrap.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/plugins/font-awesome/4.7.0/css/font-awesome.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/plugins/vue-loading/vue-loading.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/css/style.min.css?v={version}'(cdnUrl=${app.cdnUrl},version=${app.version})}" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{'{cdnUrl}/plugins/html5shiv/3.7.0/html5shiv.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/respond.js/1.3.0/respond.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <![endif]--><!--/*-->
    <!--*/--></th:block><!--/*-->
<!--*/--></th:block>


<th:block th:fragment="header_editor"><!--/*-->
<!--*/--><!-- Editor Style -->
    <link th:href="@{'{cdnUrl}/plugins/tagsinput/jquery.tagsinput.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet">
    <link th:href="@{'{cdnUrl}/plugins/toggles/toggles.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet">
    <link th:href="@{'{cdnUrl}/plugins/datetimepicker/bootstrap-datetimepicker.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet">
    <link th:href="@{'{cdnUrl}/plugins/mditor/css/mditor.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet"/>
    <link th:href="@{'{cdnUrl}/plugins/summernote/0.8.2/summernote.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet">
    <link th:href="@{'{cdnUrl}/plugins/dropzone/4.3.0/min/dropzone.min.css'(cdnUrl=${app.cdnUrl})}" rel="stylesheet">
    <style rel="stylesheet">
        #tags_tagsinput {
            background-color: #fafafa;
            border: 1px solid #eeeeee;
        }
        #tags_addTag input {
            width: 100%;
        }
        #tags_addTag {
            margin-top: -5px;
        }

        .mditor .editor{
            font-size: 14px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .mditor .backdrop, .mditor .textarea, .mditor .viewer{
            font-size: 14px;
        }
        .markdown-body{
            font-size: 14px;
        }
        .note-toolbar {
            text-align: center;
        }
        .note-editor.note-frame {
            border: none;
        }
        .note-editor .note-toolbar {
            background-color: #f5f5f5;
            padding-bottom: 10px;
        }

        .note-toolbar .note-btn-group {
            margin: 0;
        }
        .note-toolbar .note-btn {
            border: none;
        }

        #articleForm #dropzone {
            min-height: 200px;
            background-color: #dbdde0;
            line-height:200px;
            margin-bottom: 10px;
        }
        #articleForm .dropzone {
            border: 1px dashed #8662c6;
            border-radius: 5px;
            background: white;
        }
        #articleForm .dropzone .dz-message {
            font-weight: 400;
        }
        #articleForm .dropzone .dz-message .note {
            font-size: 0.8em;
            font-weight: 200;
            display: block;
            margin-top: 1.4rem;
        }
    </style><!--/*-->
<!--*/--></th:block>




<div th:fragment="topbar">
    <div class="topbar-left">
        <div class="text-center p-t-10" style="margin: 0 auto;">
            <div class="pull-left" style="padding-left: 10px;">
                <a href="/admin/index">
                    <img src="/admin/images/unicorn.png" width="50" height="50"/>
                </a>
            </div>
            <div class="pull-left admin-title" style="padding-left: 35px;">
                <span style="font-size: 28px; color: #eee; line-height: 50px;">Sagiri</span>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button type="button" class="button-menu-mobile open-left">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown">
                        <a href="index.html" class="dropdown-toggle profile" data-toggle="dropdown"
                           aria-expanded="true"><img src="https://avatars2.githubusercontent.com/u/16236755" alt="user-img" class="img-circle"> </a>
                        <ul class="dropdown-menu">
                            <li><a href="${site_url()}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> 预览站点</a></li>
                            <li><a href="/admin/profile"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> 注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div th:fragment="left_side_menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li #if(active=='home') class="active" #end>
                    <a href="/admin/index" class="waves-effect #if(active=='home') active #end"><i class="fa fa-dashboard" aria-hidden="true"></i><span> 仪表盘 </span></a>
                </li>
                <li #if(active=='publish') class="active" #end>
                    <a href="/admin/article/add" class="waves-effect #if(active=='publish') active #end"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span> 发布文章 </span></a>
                </li>
                <li #if(active=='articles') class="active" #end>
                    <a href="/admin/article/list" class="waves-effect #if(active=='articles') active #end"><i class="fa fa-list" aria-hidden="true"></i><span> 文章管理 </span></a>
                </li>

                <li #if(active=='pages') class="active" #end>
                    <a href="/admin/pages" class="waves-effect #if(active=='pages') active #end"><i class="fa fa-file-text" aria-hidden="true"></i><span> 页面管理 </span></a>
                </li>

                <li #if(active=='attaches') class="active" #end>
                    <a href="/admin/attaches" class="waves-effect #if(active=='attaches') active #end"><i class="fa fa-cloud-upload" aria-hidden="true"></i><span> 文件管理 </span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0)" class="waves-effect #if(has_sub=='other') active subdrop #end"><i class="fa fa-cubes"></i><span> 其他管理 </span><span class="pull-right"><i class="fa fa-plus"></i></span></a>
                    <ul class="list-unstyled">
                        <li #if(active=='comments') class="active" #end>
                            <a href="/admin/comments" class="waves-effect #if(active=='comments') active #end"><i class="fa fa-comments" aria-hidden="true"></i><span> 评论管理 </span></a>
                        </li>
                        <li #if(active=='categories') class="active" #end>
                            <a href="/admin/categories" class="waves-effect #if(active=='categories') active #end"><i class="fa fa-tags" aria-hidden="true"></i><span> 分类/标签 </span></a>
                        </li>
                        <li #if(active=='template') class="active" #end>
                            <a href="/admin/template" class="waves-effect #if(active=='template') active #end"><i class="fa fa-hashtag"></i><span> 编辑模板 </span></a>
                        </li>
                    </ul>
                </li>

                <li #if(active=='themes') class="active" #end>
                    <a href="/admin/themes" class="waves-effect #if(active=='themes') active #end"><i class="fa fa-diamond" aria-hidden="true"></i><span> 主题设置 </span></a>
                </li>

                <li #if(active=='setting') class="active" #end>
                    <a href="/admin/setting" class="waves-effect #if(active=='setting') active #end"><i class="fa fa-gear" aria-hidden="true"></i><span> 系统设置 </span></a>
                </li>

                #for(item : plugin_menus)
                <li #if(active==item.slug) class="active" #end>
                    <a href="/admin/plugins/${item.slug}" class="waves-effect #if(active==item.slug) active #end"><i class="${item.icon ?! 'fa fa-gear'}" aria-hidden="true"></i><span> ${item.name} </span></a>
                </li>
                #end
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




<footer th:fragment="footer">
    2017 © <a href="https://github.com/biezhi" target="_blank">Tale</a>.
</footer>




<div th:fragment="footer_js">
    <script th:src="@{'{cdnUrl}/plugins/jquery/3.2.1/jquery.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/bootstrap/3.3.7/js/bootstrap.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/md5/md5.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/detect.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/fastclick.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/wow.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/jquery.slimscroll.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/axios/axios.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/vue/vue.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/moment/moment.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/vue-loading/vue-loading.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/jquery.app.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/js/base.js?v={version}'(cdnUrl=${app.cdnUrl},version=${app.version})}"></script>
</div>


<div th:fragment="footer_with_editor_js">
    <script th:src="@{'{cdnUrl}/plugins/jquery/3.2.1/jquery.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/bootstrap/3.3.7/js/bootstrap.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/md5/md5.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/detect.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/fastclick.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/wow.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/jquery.slimscroll.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/axios/axios.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/vue/vue.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/moment/moment.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/vue-loading/vue-loading.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dashborad/jquery.app.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/js/base.js?v={version}'(cdnUrl=${app.cdnUrl},version=${app.version})}"></script>

    #include('../footer.html')
    <script th:src="@{'{cdnUrl}/plugins/tagsinput/jquery.tagsinput.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/datetimepicker/bootstrap-datetimepicker.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/jquery-multi-select/jquery.quicksearch.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/mditor/js/mditor.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/wysihtml5/0.3.0/wysihtml5.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/summernote/0.8.2/summernote.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/vue-select/vue-select.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/jquery-toggles/2.0.4/toggles.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/dropzone/4.3.0/min/dropzone.min.js'(cdnUrl=${app.cdnUrl})}"></script>
    <script th:src="@{'{cdnUrl}/plugins/to-markdown/3.1.0/to-markdown.min.js'(cdnUrl=${app.cdnUrl})}"></script>
</div>












